.tef-input {
  font-family: "Arial", sans-serif;
}
.tef-input input,
.tef-input textarea {
  font-family: "Arial", sans-serif;
}
.tef-input input:hover,
.tef-input textarea:hover,
.tef-input input:focus,
.tef-input textarea:focus,
.tef-input input:active,
.tef-input textarea:active {
  border-color: #00c6d6;
}
.tef-input.has-succeeded input {
  border-color: #8cc238;
}
.tef-input.has-succeeded .tef-validation {
  background-color: #8cc238;
}
.tef-input.has-warning input {
  border-color: #c60606;
}
.tef-input.has-warning .tef-validation {
  background-color: #c60606;
}
.tef-input.has-error input {
  border-color: #c60606;
}
.tef-input.has-error .tef-validation {
  background-color: #c60606;
}
