.tef-input {
  display: block;
  position: relative;
  width: 330px;
  margin-bottom: 4px;
  font-family: "Arial", sans-serif;
  color: #686868;
}
.tef-input label {
  display: block;
  font-size: 12px;
  line-height: 28px;
  font-weight: bold;
}
.tef-input input,
.tef-input textarea {
  width: 100%;
  display: block;
  background: white;
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 16px;
  border: 1px solid #cfcece;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tef-input input.small,
.tef-input textarea.small {
  font-size: 11px;
  line-height: 13px;
}
.tef-input input.small.icon,
.tef-input textarea.small.icon {
  padding-right: 35px;
}
.tef-input input.small.icon + [data-icon],
.tef-input textarea.small.icon + [data-icon] {
  height: 18px;
  margin-top: -9px;
}
.tef-input input.small.icon + [data-icon]:before,
.tef-input textarea.small.icon + [data-icon]:before {
  font-size: 18px;
}
.tef-input input.large,
.tef-input textarea.large {
  font-size: 24px;
  line-height: 26px;
}
.tef-input input.large.icon,
.tef-input textarea.large.icon {
  padding-right: 45px;
}
.tef-input input.large.icon + [data-icon],
.tef-input textarea.large.icon + [data-icon] {
  height: 30px;
  margin-top: -15px;
}
.tef-input input.large.icon + [data-icon]:before,
.tef-input textarea.large.icon + [data-icon]:before {
  font-size: 30px;
}
.tef-input input.icon,
.tef-input textarea.icon {
  padding-right: 40px;
}
.tef-input input.icon + [data-icon],
.tef-input textarea.icon + [data-icon] {
  position: absolute;
  top: 50%;
  right: 10px;
  height: 24px;
  margin-top: -12px;
}
.tef-input input.icon + [data-icon]:before,
.tef-input textarea.icon + [data-icon]:before {
  font-size: 24px;
}
.tef-input input:hover,
.tef-input textarea:hover,
.tef-input input:focus,
.tef-input textarea:focus,
.tef-input input:active,
.tef-input textarea:active {
  padding: 7px;
  border: 2px solid #686868;
  outline: none;
}
.tef-input .tef-validation {
  display: block;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
}
.tef-input.has-succeeded input {
  padding: 8px;
  border: 2px solid #01b7b4;
}
.tef-input.has-succeeded .tef-validation {
  background-color: #01b7b4;
}
.tef-input.has-warning input {
  padding: 8px;
  border: 2px solid #990000;
}
.tef-input.has-warning .tef-validation {
  background-color: #990000;
}
.tef-input.has-error input {
  padding: 8px;
  border: 2px solid #990000;
}
.tef-input.has-error .tef-validation {
  background-color: #990000;
}
.tef-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.tef-group > * {
  display: table-cell !important;
  vertical-align: middle;
  border-radius: 0;
}
.tef-group > *:first-child,
.tef-group > *:first-child > button {
  border-radius: 4px 0 0 4px;
}
.tef-group > *:last-child,
.tef-group > *:last-child > button {
  border-radius: 0 4px 4px 0;
}
.tef-group > *:first-child:last-child {
  border-radius: 4px;
}
.tef-group > *:not(input) {
  width: 1%;
}
