@font-face {
  font-family: "Officina";
  src: url("../fonts/officinaserif-book-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.tef-input {
  font-family: "Officina", sans-serif;
}
.tef-input input,
.tef-input textarea {
  font-family: "Officina", sans-serif;
}
.tef-input input:hover,
.tef-input textarea:hover,
.tef-input input:focus,
.tef-input textarea:focus,
.tef-input input:active,
.tef-input textarea:active {
  border-color: #ff9900;
}
.tef-input.has-succeeded input {
  border-color: #99cc33;
}
.tef-input.has-succeeded .tef-validation {
  background-color: #99cc33;
}
.tef-input.has-warning input {
  border-color: #b00000;
}
.tef-input.has-warning .tef-validation {
  background-color: #b00000;
}
.tef-input.has-error input {
  border-color: #b00000;
}
.tef-input.has-error .tef-validation {
  background-color: #b00000;
}
